@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #ffffffee;
}
html, body{ /*formatando todo hmtl e body*/
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/*BARRA DE ROLAGEM DO NAVEGADOR*/
::-webkit-scrollbar-track {
    background-color: #4DAF00;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #EDEDED;
}
/*BARRA DE ROLAGEM DO NAVEGADOR*/

.menu-lateral {
    background-color: #4DAF00;
    width: 15%;
    height: 100vh;
}

h4 {
    margin: 25px;
    display: flex;
    justify-content: center;
    color: white;
}

.navbar {
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    padding: 25px;
}

li {
    text-decoration: none;
    list-style-type: none;
    padding: 40px;
}

li a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    cursor: pointer;
}



/*ÁREA DE GRÁFICOS*/

.engloba-graficos{ /*CENTRALIZANDO OS GRÁFICOS*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    margin-top: 15%;
}


/*NOME DO USUÁRIO (RESTAURANTE) LOGADO*/
#mensagem_usuario{
    margin-left: 5px;
    font-size: 15px;
    text-transform: uppercase;
    color: white bold;
}


.borda{
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
}

.borda:hover{
    background-color: #EDEDED ;
    color: #4DAF00;
}


/*TABELA DE OPERAÇÃO MATEMÁTICA*/
.tabela-matematica{
    display: flex;
    position: fixed;
    left: 25%; /*50% da posição fixed*/
    top: 25px;
    border-radius: 5px;
    border: groove;
}

.tabela-matematica th{
    width: 250px;
    background-color: #4DAF00;
    color: white;
    border-radius: 5px;
}

.tabela-matematica tr{
    height: 50px;
    text-align: center;
}
td{
    border-radius: 5px;
}
/* th:nth-child(1) {
    color: #006400;
}
th:nth-child(2){
    background-color: #98FB98
}
th:nth-child(3){
    background-color: #006400;
}

th:nth-child(4){
    background-color: #32CD32;
} */