@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #ffffffee;
}
html, body{ /*formatando todo hmtl e body*/
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/*BARRA DE ROLAGEM DO NAVEGADOR*/
::-webkit-scrollbar-track {
    background-color: darkgreen;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #EDEDED;
}
/*BARRA DE ROLAGEM DO NAVEGADOR*/

.menu-lateral {
    background-color: darkgreen;
    width: 15%;
    height: 100vh;
}

h4 {
    margin: 25px;
    display: flex;
    justify-content: center;
    color: white;
}

.navbar {
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    padding: 25px;
}

li {
    text-decoration: none;
    list-style-type: none;
    padding: 40px;
}

li a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    cursor: pointer;
}



/*ÁREA DE FORMULÁRIO*/

.container-pratos span{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

label{
    color: white;
    display: inline-block;
    margin-top: 10px;
    font-size: 1rem; /*equivale a 16px*/
}

.btnCadastrar{
    margin-top: 25px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


button, input{
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 250px;
    display: block;
    margin-top: 8px;
    justify-content: space-between;
}

button:hover{
    background-color: rgb(196, 255, 196);
}

button{
    margin-bottom: 25px; /*Para dar distância da mensagem de validação do button*/
}

input:focus{
    outline: none;
}

input{
    padding-left: 8px;
}

select {
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 250px;
    display: block;
    margin-top: 8px;
    justify-content: space-between;
    padding-left: 10px;    
}

select:focus{
    outline: none;
}

.container-pratos{
   height: 100%;
   width: 100%; 
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #EDEDED;
}


.formulario-pratos{
    background-color: darkgreen;
    width: 70%;
    height: 70%;
    border-radius: 15px;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.422); 
}

/*NOME DO USUÁRIO (RESTAURANTE) LOGADO*/
#mensagem_usuario{
    margin-left: 5px;
    font-size: 15px;
    text-transform: uppercase;
    color: white bold;
}


.borda{
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
}

.borda:hover{
    background-color: #EDEDED ;
    color: darkgreen;
}